<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
	crossorigin="anonymous" />
</head>
<body class="bg-secondary">
	<div class="container">
		<div class=" card  mt-5">
			<div class="card-header bg-primary text-center text-white">
				<h3>Employee Register</h3>
			</div>
			<div class="card-body ">
				<form th:action="@{/employee/save}" method="post" class="form" th:object="${employee}">
					<input type="hidden" name="id" class="form-control" th:field=*{id}>
					NAME:<input type="text" name="name" id="name" class="form-control"
						required="required" th:field="*{name}"/> <div id="nameError" ></div> <br /> SAL :<input type="number"
						name="salary" id="salary" class="form-control" required="required" th:field="*{salary}"/>
					<br /> DEPT:<select name="department" id="department"
						class="form-control" required="required" th:field="*{department}">
						<option value="">--SELECT--</option>
						<option value="DEV">DEV</option>
						<option value="QA">QA</option>
						<option value="BA">BA</option>
						<option value="TEST">TEST</option>
					</select> <br />
					Re-Enter Captcha:
					<br>
					<img alt="" th:src="*{'data:image/png;base64,'+ image}" class="image">
					<br>
					<br>
					<input type="text" th:field="*{captcha}" class="form-control" placeholder="Enter Captcha Here..">
					<br/>
					<span th:if="${#strings.contains(message,'Captcha')}" th:text="${message}"
					class="card-footer bg-danger text-center text-white font-weight-bold"></span>
					<br th:if="${#strings.contains(message,'Captcha')}">
					<br th:if="${#strings.contains(message,'Captcha')}"/>
					<br/>
					<input type="hidden" th:field="*{hidden}" class="form-control">
					<button id="button" type="submit"
						class="bg-primary text-white font-weight-bold btn btn-primary">
						<i class="fa fa-plus-square" aria-hidden="true" ></i> ADD EMPLOYEE
					</button>
					<a th:href="@{/employee/all}" class="btn btn-outline-info ">VIEW
						ALL <i class="fa fa-table" aria-hidden="true"></i>
					</a>
				</form>
			</div>
			<div class="card-footer bg-success p-4" th:if="${message!=null}">
				<span th:if="${#strings.contains(message,'Employee')}" th:text="${message}"
					class="card-footer text-center text-white "></span>
				
			</div>
		</div>
	
	</div>
	<script type="text/javascript">
		function alrt(msg) {
			alert(msg);
		}
		
	</script>
	<script type="text/javascript" th:src="@{/Myjs/validate.js}"></script>
</body>
</html>